/* Variables */

:root {
    --basic-black: #000000;

}

/* Global */

body {
    font-family: "Roboto", "Arial", sans-serif;
    color: var(--basic-black);
}

.visually-hidden {
    visibility: none;
}